
.appointment-slot-container {
    width: 95vw; /* Adjust for mobile */
    margin: 0 auto;
    padding: 10px;
    font-family: Arial, sans-serif;
  }
  
  .appointment-slot-container h2 {
    margin-top: 2%;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 4%;
  }
  
  /* Date Group */
  .date-group {
    background-color: #15314b; /* Dark navy blue */
    color: white;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 17px;
  }
  /* Slot List */
  .slot-list {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
  }
  
  /* Individual Slot Item */
  .slot-item-appointment {
    background-color: white;
    color: black;
    margin: 5px 0;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-top: 2%;
  }
  
  /* Desktop Styles */
@media (min-width: 1024px) {
  .appointment-slot-container {
    width: 70vw;
    margin-left: 1%;
    flex-direction: column;
    justify-content: center;
  }

  .appointment-slot-container h2 {
    margin-top: 2%;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 4%;
    margin-left: 1%;
  }

  .appointment-slot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .slot-item-appointment {
    width: 22%; /* Adjusting width to fit 4 slots per row */
    padding: 5px;
    font-size: 18px;
    display: inline;
  }
  .date-group {
    background-color: #15314b; /* Dark navy blue */
    color: white;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .slot-list p{
    margin-top: -2%;
    margin-bottom: -1%;
    padding-bottom: 5px;
  }
  
}
