/* Container */
.appointment-slot-container {
    width: 95vw; /* Adjust for mobile */
    margin: 0 auto;
    padding: 10px;
    font-family: Arial, sans-serif;
  }
  
  /* Title */
  .appointment-slot-container h2 {
    margin-top: 2%;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 4%;
    margin-left: -5%;
  }
  
  /* Date Group */
  .date-group {
    background-color: #15314b; /* Dark navy blue */
    color: white;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  /* Date Heading with Arrow */
  .date-group h3 {
    font-size: 10px;
    font-weight: 600;
    margin: 0;
    padding: 5px 0;
  }
  
  /* Slot List */
  .slot-list {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
  }
  
  /* Individual Slot Item */
  .slot-item-appointment {
    background-color: white;
    color: black;
    margin: 5px 0;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-top: 2%;
  }
  