.footer {
  background-color: #0b1c2c; /* Dark background color */
  color: rgb(253, 252, 252);
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width:100%;
  text-align: left;
}


.footer-container {
  max-width: 100vw;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-end;
}

.footer-header {
  text-align: left;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.footer-Company{
  display: flex;  
  flex-direction: column;
  text-align: right;
}

.footer-logo {
  max-width: 70px;
  max-height: 70px; /* Adjust logo size */
  margin-bottom: 10px;
  text-align: left;
}

.footer-columns {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.footer-column {
  flex: 1;
  margin: 0 10px;
}

.footer-column h4 {
  font-size: 15px;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style-type: none;
  padding: 2px;
  
}

.LogoCompany{
  display: flex;

}

.footer-column li {
  margin: 5px 0;
  font-size: 12px;
  padding:1px;
}

.footer-CR {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;

}

.Site-map{
  content-visibility: hidden;
}





@media all and (min-width:1024px){

  .footer-Company{  
    text-align:left;
    margin-top: 3%;
    padding-left: 3%;    
    display: flex;
    flex-direction:column ;
  }

  .footer-logo{
    max-width: 100px;
    max-height: 100px;
  }

  .footer-header{
    text-align: right;
    margin-bottom: 2vh;
    display: flex;
    flex-direction:row;
    
  }

  .footer-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    align-items: space-evenly;
    padding-left: 1%;
  }
  .footer-column {
    flex:1;
    margin-top: 0px 0px;
  }
  
  .footer-column h4 {
    font-size: 18px;
    margin-top: 0%;
    
    
  }
  
  .footer-column ul {
    list-style-type: none;
    padding: 2px;
    
  }
  
  .footer-column li {
    margin: 5px 0;
    font-size: 16px;
    padding:1px;
  }

   .Site-map{
    content-visibility: visible;
       }     
  

  .Site-map2{
    content-visibility: hidden;
  }

  .footer-CR {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
      
  }

   .Line1{
    margin-top: 13%;
  }
   

}
