.lead-form-container {
  display: block;
  width: 90vw;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #f1f0f0;
  box-shadow: 2px 2px 8px rgba(194, 193, 193, 0.5);
  padding: 20px;
  text-align: center; /* Center align content */
  
}

.lead-form {
  display: block;
  width: 100%;
}

.lead-form__field {
  margin-bottom: 15px;
  border-radius: 15px;
  box-shadow: 2px 2px 8px rgba(194, 193, 193, 0.5);
}

.lead-form__input,
.lead-form__textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.lead-form__input:focus,
.lead-form__textarea:focus {
  outline: none;
  border-color: #FA9D2C;
  box-shadow: 0 0 5px rgba(250, 157, 44, 0.5);
}

.lead-form__textarea {
  resize: vertical;
  min-height: 100px;
}

.lead-form__field--checkbox {
  display: block;
  margin-bottom: 15px;
  text-align: left; /* Align checkbox and label to the left */
}

.lead-checkbox {
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
  vertical-align: middle; /* Align checkbox and text vertically */
}

.lead-checkbox a {
  color: #20315A;
  text-decoration: none;
}

.lead-checkbox a:hover {
  color: #FA9D2C;
}

.lead-button-div {
  display: block;
  margin-top: 20px;
  text-align: center; /* Center the button */
}

.lead-form__button {
  background-color: #FA9D2C;
  width: fit-content;
  height: 5vh;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 5px 20px;
  box-shadow: 3px 3px 6px rgba(189, 186, 186, 0.5);
  font-size: 16px;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  display: inline-block; /* Ensure button only takes up necessary space */
}

.lead-form__button:hover {
  background-color: #f99111;
  transform: translateY(-1px);
  box-shadow: 5px 5px 6px rgba(189, 186, 186, 0.5);
}

.lead-form__button:active {
  background-color: #f99111;
  transform: translateY(2px);
  box-shadow: 5px 5px 6px rgba(189, 186, 186, 0.5);
}

.lead-form__button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

.stayline {
  margin-bottom: 1vh;
  color: #20315A;
  white-space: nowrap;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.form-message {
  text-align: center;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
}