/* Popup Container */
.slot-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 12px;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.6);
    padding: 20px;
    width: 70vw;
    text-align: center;
    z-index: 1000;
    font-family: Arial, sans-serif;
  }
  
  /* Popup Heading */
  .slot-popup h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Slot Details */
  .slot-popup p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  /* Error Message */
  .error-message {
    color: red;
    font-size: 12px;
    background: #ffe6e6;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: left;
  }
  
  /* Buttons Container */
  .slot-popup button {
    width: 100px;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin: 10px 5px;
    transition: 0.2s ease-in-out;
  }
  
  /* Available Button */
  .available {
    background: #4caf50;
    color: white;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
  }
  
  .available:hover {
    background: #45a049;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
  }
  
  /* Unavailable Button */
  .unavailable {
    background: #e74c3c;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
    color: white;
  }
  
  .unavailable:hover {
    background: #c0392b;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
  }
  
  /* Close Button */
  .close {
    background: #3f6591;
    color: rgb(255, 255, 255);
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
  }
  
  .close:hover {
    background: #263e5a;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3)
  }
  

  /* Desktop Styles */
@media (min-width: 1024px) {
  .slot-popup {
    width: 40vw;
  }

  .slot-popup button {
    width: 15vw;
    height: 6vh;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin: 10px 5px;
    transition: 0.2s ease-in-out;
  }

  .slot-popup h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Slot Details */
  .slot-popup p {
    font-size: 18px;
    margin: 5px 0;
  }
  
  
}