.slot-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  font-size: 10px;
  text-align: center;
  width: 27vw;
  height: 6vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 2px solid transparent;
}

.slot-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Slot Status Colors */
.scheduled {
  background-color: #4291d5; /* Light Blue */
  color: white;
  cursor: not-allowed;
}

.slot-item.available {
  background-color: #4caf50; /* Better Green */
  color: white;
}

.slot-item.unavailable {
  background-color: #f44336; /* Stronger Red */
  color: white;
}

/* Time Styling */
.slot-item span {
  font-size: 11px;
  margin-bottom: 2px;
}

/* Status Text */
.slot-item p {
  font-size: 13px;
  margin: 0;
}
 
/* Desktop Styles */
@media (min-width: 1024px) {
  .slot-item {
    text-align: center;
    width: 20vw;
    height: 10vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: 2px solid transparent;
  }
  
  /* Time Styling */
.slot-item span {
  font-size: 18px;
  margin-bottom: 2px;
}

/* Status Text */
.slot-item p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

}