.admin-dashboard {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-image {
  width: 100%; /* Fix image width */
  height: 40vh; /* Adjust height for better visibility */
  object-fit: cover;
  border: none;
  margin-bottom: 20px;
}

.admin-content h2 {
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 15px;
}

.admin-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  margin-inline: 20px; 
}

.admin-btn {
  flex: 1; /* Make buttons equal width */
  padding: 10px 1px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: #FA9D2C;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  width: 60vw;
  max-height: 25vh;
  text-align: center;
}

.admin-btn:hover {
  background-color: #e88b0c;
  transform: translateY(-3px);
  box-shadow: 2px 2px 8px rgba(194, 193, 193, 0.5);
}

.admin-btn:active {
  background-color: #e88b0c;
  transform: translateY(2px);
  box-shadow: 2px 2px 8px rgba(194, 193, 193, 0.5);
}

.appointment-slot-section2 {
  width: 100vw;
  margin-top: 15px;
  background-color: #fff;
}

/* Desktop Styles */
@media (min-width: 1024px) {
  .appointment-slot-section {
    margin-left: 5%;
    width: 60vw;
  }

  .appointment-slot-section2{
    margin-left: -1vw;
    max-width: 70vw;
  }

  .admin-image{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
  }
  .admin-btn{
    width: 10vw;
    height: 10vh;
  }
  .admin-buttons{
    display: flex;
    flex-direction: row;
  }
}