.admin-dashboard {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f8f9fa;
}

.admin-image {
  width: 100%; /* Fix image width */
  height: 40vh; /* Adjust height for better visibility */
  object-fit: cover;
  border: none;
}

.admin-content {
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.admin-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
}

.admin-btn {
  background-color: #f89c1c;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.admin-btn:hover {
  background-color: #e88b0c;
  transform: translateY(-3px);
  box-shadow: 2px 2px 8px rgba(194, 193, 193, 0.5);
}

.admin-btn:active {
  background-color: #e88b0c;
  transform: translateY(2px);
  box-shadow: 2px 2px 8px rgba(194, 193, 193, 0.5);
}

/* Remove the dummy scheduled appointments section */
/* .appointment-container, .appointment-date, .appointment-tag, .appointment-list, .appointment-slot {
  display: none;
} */

/* Ensure ManageSlots component takes full width */

.appointment-slot-section2 {
  width: 100vw;
  margin-top: 15px;
  background-color: #fff;
  margin-left: -4%;
}