.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
  }
  
  .hero-image-container { 
    width: 100vw;
  }
  
  .hero-image {
    width: 101%;
    height: 70vw;
    object-fit: cover;
    border: none; 
    padding: 0; 
    margin-top: 20%;
  }
  
  .question {
    color: #20315A;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: left; 
    margin-top: 1vh;
  }

  .button-container {
    display: flex; /* Use flexbox for easier layout */
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
    margin-top: 1vh;
    margin-bottom: 3vh;
  }
  
  .hero-button {
    background-color: #FA9D2C;
    width: 44vw; 
    height: 5vh;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 10px; 
    margin: 0 10px; 
    box-shadow: 2px 2px 8px rgb(172, 172, 172);
    font-size: 16px; 
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center; /* Center text within each button */
  }

  .hero-button:hover {
    background-color: #f99111;
    transform: translateY(-3px); /* Slightly lift the button on hover */
    box-shadow: 2px 2px 8px rgb(194, 193, 193); /* Increase shadow on hover */
  }
  
  .hero-button:active {
    background-color: #f99111;
    transform: translateY(2px); /* Slightly press down the button on click */
    box-shadow: 2px 2px 8px rgb(194, 193, 193); /* Decrease shadow on click */
  }

  .know-more{
    margin-top: 1vh;
    color: #20315A;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    text-decoration: underline;
    margin-bottom: 2vh;
  }

/*services section*/

.services-section {
  text-align: center;
  padding: 1rem;
  margin-top: 1vh;
}

.services-title {
  margin-bottom: 1.5rem;
}

.services-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2vh;
}

.service-logo {
  max-width: 100px;
  height: auto;
  object-fit: contain;
}