/* slotform.css */
.slot-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
    background-color: #f1f0f0;
    box-shadow: none;
    margin-bottom: 0.5vh;
}
  
/* Header Image Styling */
.slot-header-image {
    width: 100vw; /* Full width */
    height: 50vh; /* 40% of the viewport height */
    object-fit: cover; /* Ensures image covers the area without distortion */
    border: none;
    margin-top: 0; /* Remove the margin if not needed */
}

/* Slot Form Styling */
.slot-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.slot-form-fields-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.slot-form__field {
    margin-bottom: 15px;
    width: 100%;
}

.slot-form__input,
.slot-form__textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: none;
    transition: border-color 0.3s ease;
}

.slot-form__input:focus,
.slot-form__textarea:focus {
    outline: none;
    border-color: #FA9D2C;
}

.slot-form__textarea {
    min-height: 100px;
    resize: vertical;
}

.slot-form__button {
    background-color: #FA9D2C;
    width: 100%;
    height: 45px;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: none;
    margin-top: 15px;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.slot-form__button:hover {
    background-color: #f99111;
    transform: translateY(-1px);
}

.slot-form__button:active {
    background-color: #f99111;
    transform: translateY(2px);
}

/* Media Query for desktop devices */
@media (min-width: 768px) {
    .slot-form-container {
        width: 60vw;
    }

    .slot-form__input,
    .slot-form__textarea {
        padding: 12px;
        font-size: 16px;
    }

    .slot-form__button {
        width: 80%;
    }
}
